body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 40px 60px 20px 60px;
}

.navigation * {
  padding: 8px 0;
}

.note {
  border: 1px solid rgb(22, 130, 149);
  background-color: aliceblue;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 10px;
}

.chart-svg {
  transition: viewBox 0.5s ease-in-out;
  border: 1px solid black;
  display: block;
  max-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: 999;
}

.chart-container {
  margin-top: 32px;
}
